@import "./variables.scss";

html {
  height: 100%;
  background-color: $base-color;
}

body {
  margin: 0;
  color: $main-color;
  min-height: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  display: inline-block;
  font-weight: 400;
}

// margin
.mt {
  &-0 {
    margin-top: 0;
  }
  &-10 {
    margin-top: 10px;
  }
  &-20 {
    margin-top: 20px;
  }
  &-30 {
    margin-top: 30px;
  }
  &-40 {
    margin-top: 40px;
  }
  &-50 {
    margin-top: 50px;
  }
}

.mb {
  &-0 {
    margin-bottom: 0;
  }
  &-10 {
    margin-bottom: 10px;
  }
  &-20 {
    margin-bottom: 20px;
  }
  &-30 {
    margin-bottom: 30px;
  }
  &-40 {
    margin-bottom: 40px;
  }
  &-50 {
    margin-bottom: 50px;
  }
}

.ml {
  &-0 {
    margin-left: 0;
  }
  &-10 {
    margin-left: 10px;
  }
  &-20 {
    margin-left: 20px;
  }
  &-30 {
    margin-left: 30px;
  }
  &-40 {
    margin-left: 40px;
  }
  &-50 {
    margin-left: 50px;
  }
}

.mr {
  &-0 {
    margin-right: 0;
  }
  &-10 {
    margin-right: 10px;
  }
  &-20 {
    margin-right: 20px;
  }
  &-30 {
    margin-right: 30px;
  }
  &-40 {
    margin-right: 40px;
  }
  &-50 {
    margin-right: 50px;
  }
}

// button
.btn {
  padding: 3px 10px;
  border: 2px solid transparent;
  background-color: transparent;
  font-size: 1em;
  border-radius: $border-radius;
  &:focus {
    outline: none;
  }
  &:hover {
    opacity: .7;
  }
  &-primary {
    background-color: $accent-color;
    border-color: $accent-color;
    color: $base-color;
  }
  &-secondary {
    background-color: $sub-color;
    border-color: $sub-color;
    color: $base-color;
  }
  &-danger {
    background-color: $danger-color;
    border-color: $danger-color;
    color: $base-color;
  }
  &-cancel {
    background-color: $base-color;
    border-color: $sub-color;
    color: $main-color;
  }
}

.input-switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 32px;
  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  & input:checked + .slider {
    background-color: $accent-color;
  }

  & input:focus + .slider {
    box-shadow: 0 0 1px $accent-color;
  }
  & input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  &::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  &.round {
    border-radius: 32px;
    &::before {
      border-radius: 50%;
    }
  }
}

// avatar
.avatar {
  display: inline-block;
  background-color: #FFF; // 仮置き
  &.round {
    border-radius: 50%;
  }
  &.border {
    border: 2px solid $main-color;
  }
  &-32 {
    width: 32px;
    height: 32px;
  }
  &-36 {
    width: 36px;
    height: 36px;
  }
}

.nav-wrapper {
  width: $navigation-width;
  background-color: $accent-color;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.nav {
  &-list {
    list-style: none;
    padding: 0;
  }
  &-item {
    text-align: center;
    margin-top: 15px;
  }
  &-link {
    color: $base-color;
    text-decoration: none;
    font-size: 32px;
    display: inline-block;
    .avatar {
      vertical-align: sub;
    }
    &:hover{
      opacity: .7;
    }
  }
}

.container {
  position: relative;
  margin-left: $navigation-width;
  display: flex;
}

// sidebar
.sidebar-wrapper {
  width: $sidebar-width;
  border-right: 2px solid $sub-color;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .search {
    position: fixed;
    background-color: $sub-color;
    padding: 8px 10px;
    box-sizing: border-box;
    width: inherit;
    &-form {
      background-color: $base-color;
      box-sizing: border-box;
      border-radius: 1em;
      display: flex;
      input[type=text] {
        background-color: transparent;
        border: 0;
        font-size: 1em;
        width: 100%;
        padding: 3px 15px;
        &:focus {
          outline: none;
        }
      }
      button[type=submit] {
        background-color: transparent;
        border: 0;
        width: 50px;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.sidebar {
  .room-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    margin-top: 40px;
  }
  .room-item {
    border-bottom: 2px solid $sub-color;
  }
  .room-link {
    display: block;
    padding: 10px 20px;
    color: $main-color;
    text-decoration: none;
    &:hover {
      background-color: $sub-color;
    }
  }
  .room-name {
    vertical-align: top;
    margin: 0 10px;

  }
}

.content-wrapper {
  // margin-left: $sidebar-width;
  width: 100%;
}

.content {
  margin: 10px 20px;
}

.sidebar-wrapper + .content-wrapper {
  margin-left: $sidebar-width;
}

// TODO: これ以下に追加していくと良いかも

/* room-creation */
.form{
  display: flex;
  justify-content: center;
}
.room-creation{
  display: flex;
  flex-direction: column;
  &-title {
    .creation{
      text-align: center;
      color: $accent-color;
      border-bottom:5px solid $sub-color;
      width: 600px;
    }
  }
  &-tag {
    display: flex;
    align-items: flex-end;
    *{
      margin-left: 10px;
    }
    &.tag{
      color: $accent-color;
      font-size: 20px;      
    }
  }
  &-input{
    &-number{
      box-sizing: border-box;
      border: 2px solid $sub-color;
      border-radius: 5px;    
    }
  }
  &-public{
    display: flex;
    flex-direction: row;  
  }
  &-description{
    &-textarea{
      box-sizing: border-box;
      border: 2px solid $sub-color;
      border-radius: 5px;
      width: 500px;
      height: 100px;
      background-color: #fff;
      padding: 10px 5px;
      textarea{
        background-color: transparent;
        color: $main-color;
        border: 0;
        font-size: 1.1em;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        resize: none;
        &:focus{
          outline: none;
        }
      }
    }
  }
  &-action{
    &-btn{
      display: flex;
      justify-content: flex-end;
      *{
        margin-left: 20px;
      }
    }
  }
}

// .chat-board
.chat-board-wrapper {
  position: relative;
}

.chat-board {
  &-header {
    padding: 8px 10px;
    border-bottom: 3px solid $sub-color;
    display: flex;
    align-items: flex-start;
  }
  &-title {
    font-size: 1.6em;
    font-weight: bold;
  }
  &-description {
    font-size: .9em;
  }
  &-timeline {
    list-style: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding: 8px 10px;
    .info {

    }
    .message {
      display: flex;
      border-bottom: 1px solid $sub-color;
      box-sizing: border-box;
      padding: 8px 0;
      &:last-child {
        border: 0;
      }
      & > div{
      margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
      }
      &-content {
        display: block;
        width: 100%;
      }
      &-header {
        label {
          font-weight: bold;
        }
      }
      &-info {
        text-align: center;
      }
      &-footer {
        display: flex;
        justify-content: flex-end;
        font-size: .9em;
        .control {
          display: inline-block;
          margin-left: 8px;
          > span {
            margin-left: 3px;
          }
        }
      }
    }
  }
}

.chat-board-textarea-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 20px;
  z-index: 100;
  width: calc(100% - #{$sidebar-width} - 100px);
  height: 140px;
  box-sizing: border-box;
}
.chat-board-textarea {
  box-sizing: border-box;
  border: 4px solid $accent-color;
  border-radius: 5px;
  width: 500px;
  background-color: #fff;
  padding: 10px 5px;
  textarea {
    background-color: transparent;
    color: $main-color;
    border: 0;
    font-size: 1.1em;
    width: 100%;
    height: 75%;
    box-sizing: border-box;
    resize: none;
    &:focus {
      outline: none;
    }
  }
  &-panel {
    height: 25%;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    & > div {
      display: flex;
    }
    .control {
      font-size: 1.4em;
      margin-left: 15px;
      &:first-child{
        margin: 0;
      }
    }
  }
}